@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: white;
  color: #e45256;
}

.active:hover {
  background-color: white !important;
  color: #e45256 !important;
}

.youtube-thumbnail-container:hover .youtube-thumbnail {
  transform: scale(1.15) rotate(-3deg);
}
